.st-emotion-cache-nahz7x {
    font-size: 403px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.st-emotion-cache-nahz7x {

    font-size: 403px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}