.st-emotion-cache-q8sbsg {
    body {
        font-family: sans-serif;
        line-height: 1.5
    }
}

.st-emotion-cache-nahz7x {
    padding: 3px;
    font-size: 10%;
}

h1 {
    /* background-color: aquamarine; */
    font-size: 30px;
}